#gameBoard {
  display: none;
}

img {
  width: 50%;
  display: block;
  margin: auto;
}

.switch {
  display: none;
}

#button-show1 {
  display: none;
}

#button-show2 {
  display: none;
}

.die2 {
  display: none;
}
